.header-company {
    display: flex;
    position: fixed;
    width: 100%;
    height: auto;
    background: rgb(26,115,48);
    justify-content: flex-end;
    background: -moz-radial-gradient(
        circle, 
        rgba(26,115,48,1) 0%, 
        rgba(106,166,46,1) 100%
    );
    background: -webkit-radial-gradient(
        circle, 
        rgba(26,115,48,1) 0%, 
        rgba(106,166,46,1) 100%
    );
    background: radial-gradient(
        circle, 
        rgba(26,115,48,1) 0%, 
        rgba(106,166,46,1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr="#1a7330",
        endColorstr="#6aa62e",
        GradientType=1
    );
    font-family: "Poppins", sans-serif;
    padding: 15px 2rem 15px;
}

.logo--header-company {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
}

    .logo--header-company img {
        display: flex;
        width: 140px;
        height: 140px;
    }