// Global styles
@import "../_GlobalStyles";

.body--glosary {
    display: flex;
    width: auto;
    height: auto;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;

    img {
        width: 300px;
        height: 305px;
    }

    .body-group--glosary {
        display: flex;
        width: 37.5%;
        height: auto;
        align-items: flex-start;

        .btn-audio--glosary {
            display: flex;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            border: none;
        }

        h2 {
            font-family: $fraunces-font;
            margin-left: 1rem;
        }
    }

    .body-group-big--glosary {
        margin-top: 2rem;
        align-items: center;

        button {
            width: auto;
            height: auto;
            padding: 15px;
            cursor: pointer;

            img {
                width: 30px;
                height: 30px;
            }
        }

        h2 {
            font-size: 28px;
            font-weight: 550;
        }
    }

    .body-group-small--glosary {
        margin-top: 1rem;

        button {
            width: 45px;
            height: 45px;
            padding: 15px;
            cursor: pointer;

            img {
                width: 21px;
                height: 21px;
            }
        }

        h2 {
            font-size: 18px;
            font-weight: 500;
        }
    }
}

.btn-next--glosary {
    display: flex;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10%;
    left: 55%;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    img {
        width: 26px;
        height: 26px;
    }
}

.btn-come-back--glosary {
    display: flex;
    width: 60px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 83%;
    bottom: 45%;
    margin: auto;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;

    img {
        width: 50px;
        height: 50px;
    }
}

// Responsive 1440px
@media (max-width: 1440px) {
    .body--glosary {
        img {
            width: 275px;
            height: 280px;
        }

        .body-group--glosary {
            width: 360px;
        }

        .body-group-big--glosary {
            margin-top: 1rem;
            
            button {
                img {
                    width: 26px;
                    height: 26px;
                }
            }

            h2 {
                font-size: 24px;
            }
        }

        .body-group-small--glosary {            
            button {
                width: auto;
                height: auto;
                img {
                    width: 18px;
                    height: 18px;
                }
            }

            h2 {
                font-size: 17px;
            }
        }
    }

    .btn-next--glosary {
        width: 55px;
        height: 55px;
    
        img {
            width: 24px;
            height: 24px;
        }
    }

    .btn-come-back--glosary {
        width: 60px;
        height: 45px;
        right: 82%;
        bottom: 50%;
        img {
            width: 45px;
            height: 45px;
        }
    }
}

// Responsive 1280px
@media (max-width: 1280px) {
    .btn-come-back--glosary {
        height: 42.5px;
        right: 80%;
        img {
            width: 42.5px;
            height: 42.5px;
        }
    }
}

// Responsive 1024px
@media(max-width: 1024px) {
    .btn-next--glosary {
        width: 55px;
        height: 55px;
        left: 60%;

        img {
            width: 24px;
            height: 24px;
        }
    }

    .btn-come-back--glosary {
        height: 42.5px;
        right: 78%;
        img {
            width: 42.5px;
            height: 42.5px;
        }
    }
}

// Responsive 768px
@media (max-width: 768px){
    .btn-come-back--glosary {
        height: 42.5px;
        right: 82%;
        img {
            width: 42.5px;
            height: 42.5px;
        }
    }
}

// Responsive 425px
@media (max-width: 425px) {
    .body--glosary {
        margin-top: 2rem;
        img {
            width: 240px;
            height: 240px;
        }

        .body-group--glosary {
            width: 265px;
        }

        .body-group-big--glosary {
            margin-top: 1rem;

            h2 {
                font-size: 26px;
            }
        }

        .body-group-small--glosary {            
            h2 {
                width: 90%;
                font-size: 16px;
            }
        }
    }

    .btn-next--glosary {
        bottom: 22.5%;
        width: 50px;
        height: 50px;
        left: 70%;

        img {
            width: 22px;
            height: 22px;
        }
    }

    .btn-come-back--glosary {
        display: none;
    }
}

// Responsive 360px
@media (max-width: 360px) {
    .btn-next--glosary {
        left: 75%;

        img {
            width: 22px;
            height: 22px;
        }
    }
}