// Global styles
@import "../_GlobalStyles";

.body--glosary {
    display: flex;
    width: 440px;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    img {
        width: 300px;
        height: 305px;
    }

    .body-group--glosary {
        .content-body-group--glosary {
            display: flex;
            width: auto;
            height: auto;
            align-items: flex-start;
            justify-content: center;

            .btn-audio--glosary {
                display: flex;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                border: none;
                padding: 1rem;
                cursor: pointer;
                margin-top: 1rem;
        
                img {
                    width: 28px;
                    height: 28px;
                }
            }

            .text-body--glosary {
                display: flex;
                width: auto;
                flex-direction: column;
                padding-left: 1rem;
                padding-top: 1rem;
                font-family: $fraunces-font;

                h2 {
                    font-size: 32px;
                    font-weight: 550;
                }

                p {
                    font-size: 18px;
                    margin-top: 10px;
                }
            }
        
        }
    }
}

.btn-next--glosary {
    display: flex;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10%;
    left: 55%;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    img {
        width: 26px;
        height: 26px;
    }
}

.btn-come-back--glosary {
    display: flex;
    width: 60px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 83%;
    bottom: 45%;
    margin: auto;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;

    img {
        width: 50px;
        height: 50px;
    }
}

// Responsive 1440px
@media (max-width: 1440px) {
    .body--glosary {
        img {
            width: 275px;
            height: 280px;
        }

        .body-group--glosary {
            width: 360px;
            margin-top: 1rem;

            .content-body-group--glosary {
                .btn-audio--glosary {
                    img {
                        width: 22px;
                        height: 22px;
                    }
                }

                .text-body--glosary {
                    h2 {
                        font-size: 28px;
                    }

                    p {
                        font-size: 17px;
                    }
                }
            }
        }
    }

    .btn-next--glosary {
        width: 55px;
        height: 55px;
    
        img {
            width: 24px;
            height: 24px;
        }
    }

    .btn-come-back--glosary {
        width: 60px;
        height: 45px;
        right: 82%;
        bottom: 50%;
        
        img {
            width: 45px;
            height: 45px;
        }
    }
}

// Responsive 1280px
@media (max-width: 1280px) {
    .btn-come-back--glosary {
        height: 42.5px;
        right: 80%;
        img {
            width: 42.5px;
            height: 42.5px;
        }
    }
}

// Responsive 1024px
@media(max-width: 1024px) {
    .body--glosary {
        img {
            width: 260px;
            height: 260px;
        }

        .body-group--glosary {
            margin-top: 0;

            .content-body-group--glosary {
                .btn-audio--glosary {
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }

                .text-body--glosary {
                    h2 {
                        font-size: 25px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .btn-next--glosary {
        width: 55px;
        height: 55px;
        left: 60%;

        img {
            width: 24px;
            height: 24px;
        }
    }

    .btn-come-back--glosary {
        height: 42.5px;
        right: 78%;
        img {
            width: 42.5px;
            height: 42.5px;
        }
    }
}

// Responsive 768px
@media (max-width: 768px){
    .body--glosary {
        img {
            width: 265px;
            height: 265px;
        }

        .body-group--glosary {
            max-width: 340px;

            .content-body-group--glosary {
                .btn-audio--glosary {
                    padding: 14px;
                    img {
                        width: 19px;
                        height: 19px;
                    }
                }

                .text-body--glosary {
                    h2 {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .btn-come-back--glosary {
        height: 42.5px;
        right: 82%;
        img {
            width: 42.5px;
            height: 42.5px;
        }
    }
}

// Responsive 425px
@media (max-width: 425px) {
    .body--glosary {
        margin-top: 2rem;
        img {
            width: 240px;
            height: 240px;
        }

        .body-group--glosary {
            width: 265px;
        }
    }

    .btn-next--glosary {
        bottom: 22.5%;
        width: 50px;
        height: 50px;
        left: 70%;

        img {
            width: 22px;
            height: 22px;
        }
    }

    .btn-come-back--glosary {
        display: none;
    }
}

// Responsive 360px
@media (max-width: 360px) {
    .btn-next--glosary {
        left: 75%;

        img {
            width: 22px;
            height: 22px;
        }
    }
}