// Global styles
@import "../_GlobalStyles";

.header {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 8rem 1.5rem;
    z-index: 2;

    .nav-logo {
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
    
        a {
            display: flex;
            text-decoration: none;
            align-items: center;
            color: black;

            img {
                width: 110px;
                height: 110px;
            }
    
            h1 {
                font-family: $fredoka-font;
                font-size: 32px;
                margin-left: 10px;
                line-height: 2.5rem;
                text-decoration: none;
                font-weight: 550;
            }
        }
    }

    .cont-come-back-btn {
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid transparent;

        h2 {
            color: black;
            font-family: $fredoka-font;
            font-size: 28px;
            margin-right: 5px;
            font-weight: 550;
        }

        img {
            width: 38px;
            height: 38px;
        }
    }

    .cont-come-back-btn:hover {
        border-bottom: 2px solid black;
    }
}

// Responsive 1440px
@media (max-width: 1440px) {
    .header {
        padding: 1rem 6rem 1rem;

        .nav-logo {
            a {
                img {
                    width: 92.5px;
                    height: 92.5px;
                }
                h1 {
                    font-size: 28px;
                    line-height: 2.2rem;
                }
            }
        }

        .cont-come-back-btn {
            h2 {
                font-size: 20px;
            }

            img {
                width: 35px;
                height: 35px;
            }
        }
    }
}

// Responsive 1024px
@media (max-width: 1024px) {
    .header {
        padding: 0.9rem 4.5rem 0.9rem;

        .nav-logo {
            a {
                img {
                    width: 90px;
                    height: 90px;
                }
                h1 {
                    font-size: 25px;
                }
            }
        }
    }
}

// Responsive 768px
@media (max-width: 768px) {
    .header {
        padding: 14px 2rem 14px;

        .nav-logo {
            a {
                img {
                    width: 84px;
                    height: 84px;
                }
                h1 {
                    font-size: 20px;
                    margin-left: 7px;
                    line-height: 30px;
                }
            }
        }
    }
}

// Responsive 425px
@media (max-width: 425px) {
    .header {
        .nav-logo{
            a {
                h1 {
                    margin-left: 5px;
                }
            }
        } 

        .cont-come-back-btn {
            h2 {
                display: none;
            }

            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}