// Global styles
@import "../_GlobalStyles";

.popup-welcome--connect-and-learn {
    opacity: 0;
    display: none;
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 600px;
    height: 700px;
    border-radius: 5px;
    align-items: center;
    font-family: $fraunces-font;
    flex-direction: column;
    padding: 3rem 3.5rem 0;
    z-index: 1;

    &.bounce-in {
        display: flex;
        animation: bounceIn 1s forwards;
        opacity: 1;
    }

    &.bounce-out {
        display: flex;
        animation: bounceOut 1s forwards;
        opacity: 1;
    }

    .close-popup-welcome--connect-and-learn {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: flex-end;

        .btn-close-popup-welcome--connect-and-learn {
            width: auto;
            height: auto;
            background: transparent;
            border: none;
            cursor: pointer;

            img {
                width: 35px;
                height: 35px;
            }
        }
    }

    .top-popup-welcome--connect-and-learn {
        display: flex;
        width: 100%;
        height: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -10px;
        
        img {
            width: 170px;
            height: 170px;
        }

        h2 {
            font-size: 33px;
            margin: 1rem 0 8px;
            font-weight: 550;
        }

        h3 {
            font-size: 33px;
            text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000
            ;
            font-weight: 600;
        }
    }

    .bottom-popup-welcome--connect-and-learn {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        h2 {
            font-weight: 600;
            font-size: 20px;
        }

        .items-bottom-popup-welcome--connect-and-learn{
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: column;
            list-style: none;
            margin-top: 1.5rem;
            gap: 1.2rem;

            .item-bottom-popup-welcome--connect-and-learn{
                display: flex;
                width: 100%;
                height: auto;
                font-size: 18px;

                img {
                    width: 35px;
                    height: 35px;
                    margin-right: 10px;
                    margin-top: 7px;
                }
            }
        }
    }
}

.popup-lesson-completed--glosary {
    position: absolute;
    display: none;
    width: 600px;
    height: 460px;
    border: 3px solid $blue;
    background-color: white;
    top: 9rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-family: $fraunces-font;

    &.bounce-in {
        display: flex;
        animation: bounceIn 1s forwards;
        opacity: 1;
    }

    img {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }

    h2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 27px;
        font-weight: 550;

        h3 {
            font-size: 24px;
            font-weight: bolder;
        }
    }

    .btn-next-lesson--glosary {
        display: flex;
        width: auto;
        height: auto;
        padding: 12px 2rem 12px;
        margin-top: 1rem;
        border: none;
        font-family: $fraunces-font;
        font-size: 19px;
        border-radius: 10px;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-decoration: none;

        img {
            width: 30px;
            height: 30px;
            margin-left: 10px;
            margin-bottom: 0;
        }
    }

    .btn-next-lesson--glosary:hover {
        opacity: .85;
        transition: .3s ease-in-out;
    }
}

// Responsive 1440px
@media (max-width: 1440px) {
    .popup-welcome--connect-and-learn {
        width: 520px;
        height: 600px;

        .close-popup-welcome--connect-and-learn {
            .btn-close-popup-welcome--connect-and-learn {
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .top-popup-welcome--connect-and-learn {
            height: auto;
            img {
                width: 127px;
                height: 130px;
            }

            h2 {
                font-size: 28px;
                margin: 12px 0 4px;
            }

            h3 {
                font-size: 28px;
            }
        }

        .bottom-popup-welcome--connect-and-learn {
            h2 {
                font-size: 16px;
                margin: 1rem 0 0;
            }

            .items-bottom-popup-welcome--connect-and-learn {
                margin-top: 1rem;

                .item-bottom-popup-welcome--connect-and-learn {
                    font-size: 15px;

                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }

    .popup-lesson-completed--glosary {
        width: 550px;
        height: 410px;

        img {
            width: 150px;
            height: 150px;
        }

        h2 {
            font-size: 24px;

            h3 {
                font-size: 22px;
            }
        }

        .btn-next-lesson--glosary {
            font-size: 18px;

            img {
                width: 25px;
                height: 25px;
            }
        }
    }
}

// Responsive 1024px
@media (max-width: 1024px) {
    .popup-lesson-completed--glosary {
        width: 520px;
        height: 390px;

        img {
            width: 140px;
            height: 140px;
        }

        h2 {
            font-size: 22px;

            h3 {
                font-size: 20px;
            }
        }

        .btn-next-lesson--glosary {
            font-size: 16px;
            padding: 14px 2rem 14px;

            img {
                width: 22px;
                height: 22px;
            }
        }
    }
}

// Responsive 768px
@media (max-width: 768px) {
    .popup-welcome--connect-and-learn {
        width: 70%;
        min-width: 500px;
    }

    .popup-lesson-completed--glosary {
        width: 425px;
        height: 340px;

        img {
            width: 120px;
            height: 120px;
        }

        h2 {
            font-size: 18px;

            h3 {
                font-size: 17px;
            }
        }

        .btn-next-lesson--glosary {
            font-size: 15px;
            padding: 12px 2rem 12px;

            img {
                width: 20px;
                height: 20px;
                margin-left: 8px;
            }
        }
    }
}

// Responsive 600px
@media (max-width: 600px) {
    .popup-welcome--connect-and-learn {
        width: 50%;
        min-width: 455px;
        height: auto;
        max-height: 600px;
        padding: 2rem 2.5rem 2rem;
    }
}

// Responsive 425px
@media (max-width: 425px) {
    .popup-welcome--connect-and-learn {
        top: 10rem;
        width: 90%;
        min-width: 280px;
        min-height: 700px;
        padding: 3rem 2rem 2.5rem;

        .top-popup-welcome--connect-and-learn {
            text-align: center;
        }

        .bottom-popup-welcome--connect-and-learn {
            height: auto;
        }
    }

    .popup-lesson-completed--glosary {
        width: auto;
        height: 340px;

        img {
            width: 130px;
            height: 130px;
        }

        h2 {
            font-size: 19px;

            h3 {
                font-size: 18px;
            }
        }

        .btn-next-lesson--glosary {
            font-size: 16px;
            padding: 12px 2rem 12px;

            img {
                width: 20px;
                height: 20px;
                margin-left: 8px;
            }
        }
    }
}

// Responsive 360px
@media (max-width: 360px) {
    .popup-welcome--connect-and-learn {
        top: 14rem;
        min-height: 750px;
        padding: 3rem 2rem 2.5rem;
    }
}

// Responsive 320px
@media (max-width: 320px) {
    .popup-welcome--connect-and-learn {
        top: 16rem;
        min-height: 800px;
        padding: 3rem 2rem 2.5rem;
    }
}