.header--index2 {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: 1rem 3rem 1rem;
}

    .nav-logo--index2 {
        display: flex;
        width: auto;
        height: 100%;
        align-items: center;
    }

        .nav-logo--index2 img {
            width: 120px;
            height: 120px;
        }

        .nav-logo--index2 h2 {
            font-size: 40px;
            margin-left: 10px;
            font-weight: 450;
            font-family: "Fredoka", sans-serif;
        }

    .btn-menu--index2{
        display: flex;
        width: auto;
        height: auto;
        background-color: #F28D35;
        align-items: center;
        justify-content: center;
        border: none;
        border-bottom: 50%;
        padding: 15px;
        border-radius: 50%;
        cursor: pointer;
    }

        .btn-menu--index2 img {
            width: 45px;
            height: 45px;
        }

.banner--index2 {
    display: flex;
    width: 100%;
    height: 85vh;
    background-image: url("../../img/IndexBackground2.png");
    align-items: center;
}

    .banner--index2 img {
        display: flex;
        width: 100%;
        height: auto;
    }

    .banner--index2 h2 {
        width: 30%;
        color: white;
        font-family: "Fredoka", sans-serif;
        margin-left: 7rem;
        font-size: 3.5rem;
        font-weight: 600;
    }

.block-section {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #F28D35;
}

.games-gallery--index2 {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4rem 0 10rem;
}

    .games-gallery--index2 h1 {
        font-size: 3rem;
        font-family: "Fredoka", sans-serif;
        font-weight: 600;
    }

    .items-games-gallery--index2 {
        display: flex;
        width: 100%;
        height: auto;
        margin: 3rem 0 0;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 7rem 0;
    }

        .item-games-gallery--index2 {
            display: flex;
            width: auto;
            max-width: 45%;
            height: auto;
            flex: 25%;
            background-color: #D9D9D9;
            align-items: center;
            justify-content: center;
        }

            .item-games-gallery--index2 img {
                width: 100%;
                height: 100%;
            }

.footer {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    font-family: "Fredoka", sans-serif;
    background-color: #8BBF73;
    font-size: 42.5px;
    font-weight: 500;
}