/* Fonts */
    /* Iria Sans */
    @import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    
    /* Banger */
    @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content,
.content-game,
.content-index {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    font-family: "Inria Sans", sans-serif;
}

    .content {
        /* min-height: 1000px; */
        padding: 8rem 4rem 0;
        /* background-image: url("https://png.pngtree.com/background/20240412/original/pngtree-d-illustration-cartoon-character-relaxing-on-a-heap-of-golden-coins-picture-image_8465393.jpg"); */
        /* background-size: cover; */
        /* background-color: #B3182F; */
        /* background: linear-gradient(to right, #1e5799 0%,#2ce0bf 19%,#76dd2c 40%,#dba62b 60%,#e02cbf 83%,#1e5799 100%); 
        background-size: 1000px 100%;
        animation: bg 15s linear infinite ; */
        height: auto;
    }

    .content-index {
        background-image: url("../img/IndexBackground.png");
        background-size: cover;
        min-height: 100vh;
        align-items: center;
        align-items: center;
        justify-content: center;
    }

    .title-view {
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        color: white;
        text-shadow: 0 0 8px black, 0 0 5px black;
    }

    .content-game {
        padding: 5rem 0 0;
        align-items: center;
    }

    .content-game-horizontal {
        flex-direction: row;
    }

/* Responsive 425px */
@media (max-width: 425px) {
    .content-index {
        background: linear-gradient(
            to right, 
            #1e5799 0%,
            #44A1A6 25%,
            #44A648 40%,
            #44A68A 60%,
            #1e5799 100%
        ); 
        background-size: 10000px 100%;
        animation: bg 10s linear infinite;    
    }
}

/* Fade in animation */
@keyframes fadeIn {
    from {
      opacity: 0; /* Comienza totalmente transparente */
    }
    to {
      opacity: 1; /* Termina totalmente opaco */
    }
}